.App {
  text-align: center;
  display: block;

  margin: 0;
  padding: 0;
  background-color: bisque;
}

hr {
  border: none;
  border-top: 1px dashed #f00;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 50%;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid rgb(255, 255, 255);
  width: 500px;
  border-radius: 8%;
  background-color: rgb(230, 184, 127);
  display: flex;
}

.card img {
  border-radius: 50%;
  width:150px;
  margin-top: 10px;
  margin-left: 20px;
}

.card .content{
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.87);
  font-family:"Roboto", sans-serif;
  width: 200px;
  text-align: center;
}


